footer {
    background: #aaa;
    color: white;
}

.edit {
    float: right;
    padding-right: 10px;
}

#imaage{
    opacity: 0;
    transition: 0.3s;
}

#imaage:hover {
    background: rgba(255, 255, 255, 0.9);
    opacity: 1;
    transition: 0.3s;
}