*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    text-decoration: none;
}

input {
    margin: 15px 0;
    padding: 6px 10px;
    border: 1px solid rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 40px 100px;
    transition: 0.3s;
    z-index: 1;
}

header.sticky {
    padding: 5px 100px;
    height: 50px;
}

header .logo {
    position: relative;
    transition: 0.8s;
    width: 100px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.3s;
}

header ul li p {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

#slider {
    overflow: hidden;
    margin-top: 126px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}

#slider figure img {
    width: 20%;
    height: 1080px;
    float: left;
    object-fit: cover;
}

.img-wrap-dark > img {
    opacity: 0.3;
    /* filter: blur(8px); */
    -webkit-filter: blur(8px);
}

@keyframes slider {
    0% {
        left: 0;
    }
    30% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    63% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    96% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}

.modal-bg-reg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: visiblity 0s, opacity 0.5s;
}

.modal-bg-login{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: visiblity 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: white;
    padding: 20px 20px 20px 20px;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal button {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
}

.modal button:hover {
    border-color: rgb(80, 80, 80);
    color:rgb(80, 80, 80);
    transition: 0.2s;
    cursor: pointer;
}

.modal h2 {
    margin-bottom: 15px;
}

.modal-close-reg {
    position: absolute;
    top: 6px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close-login {
    position: absolute;
    top: 6px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modal p {
    padding: 10px;
    text-decoration: solid;
    font-size: 13px;
}

.modal p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.restaurant-table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 4px;
    padding: 15px;
    overflow: auto;
}

table {
    font-size: 15px;
    white-space: nowrap;
}

table th, table td {
    border: 1px solid #000000;
    padding: 10px 15px;
}
